.header__logo {
    background-image: url(../../../images/__logo.svg);
    background-size: cover;
    width: 176px;
    height: 52px;
    top: 28px;
    left: 48px;
    position: absolute;
}


@media screen and (min-width: 1px) and (max-width: 425px) {
    .header__logo {
        width: 142px;
        height: 42px;
        top: 16px;
        left: 16px;
        position: absolute;
        background-size: cover;
    }
}