.footer {
    max-width: 1184px;
    padding-top: 92px;
    padding-bottom: 24px;
    margin: 0 48px;
}

.footer__container {
    display: flex;
    justify-content: space-between;
}

.footer__links {
    margin: 0;
    padding: 0;
    list-style-type: none;
    height: 100%;
}

.footer__link {
    text-decoration: none;
    color: white;
    font-size: 16px;
    line-height: 18px;
    display: inline;
    margin-right: 18px;
    padding: 0;
}

.footer__link:last-child {
    margin-right: 0;
}

.footer__link:hover {
    text-decoration: none;
    transition: .2s;
    border-bottom: 1px solid white;
    padding-bottom: 3px;
}

.footer__author {
    font-size: 14px;
    line-height: 16px;
    text-align: right;
    margin: 0;
}


@media screen and (min-width: 1px) and (max-width: 425px) {
    .footer {
        padding-top: 64px;
        margin-left: 16px;
    }

    .footer__container {
        display: block;
    }

    .footer__link {
        display: block;
        margin-right: 0;
        margin-bottom: 32px;
        font-size: 24px;
        line-height: 24px;
    }

    .footer__author {
        text-align: left;
        font-size: 14px;
        line-height: 14px;
    }
}

@media screen and (min-width: 426px) and (max-width: 667px) {
    .footer {
        margin: 0;
    }

    .footer__link {
        font-size: 12px;
        line-height: 24px;
    }

    .footer__author {
        font-size: 10px;
        line-height: 24px;
    }
}

@media screen and (min-width: 426px) and (max-width: 667px) {
    .footer__container {
        display: block;
        margin-left: 16px;
    }

    .footer__link {
        display: block;
        margin-right: 0;
        margin-bottom: 32px;
        font-size: 24px;
        line-height: 24px;
    }

    .footer__author {
        text-align: left;
        font-size: 14px;
        line-height: 14px;
    }
}

@media screen and (min-width: 426px) and (max-width: 768px) {
    .footer {
        margin: 0 24px;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .footer__container {
        margin: 0 48px;
    }

    .footer {
        margin: 0 24px;
    }
}
