.footer__container {
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 667px) {
    .footer__container {
        display: block;
        margin-left: 16px;
    }
}