.statistics {
    display: block;
    margin: 92px auto;
    max-width: 984px;
}

@media screen and (max-width: 1024px) {
    .statistics {
        margin: 92px 48px; 
    }
}

@media screen and (max-width: 768px) {
    .statistics {
        margin: 88px 24px;
        max-width: 720px;
    }
}

@media screen and (max-width: 425px) {
    .statistics {
        margin: 88px 16px 64px 16px;
        max-width: 288px; 
    }
}