.card__image {
    object-fit: contain;
    max-width: 100%;
}

@media screen and (min-width: 1px) and (max-width: 425px) { 
    .card__image {
        margin: 0 auto;
        object-fit: contain;
        max-width: 320px;
    }
}

@media screen and (min-width: 426px) and (max-width: 768px) {
    .card__image {
        max-width: 100%;
    }
}