.roadmap {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 984px;
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .roadmap {
        margin: 0 48px;
        padding: 0;
    }
}