.footer {
    max-width: 1184px;
    padding-top: 92px;
    padding-bottom: 24px;
    margin: 0 48px;
}

@media screen and (min-width: 1px) and (max-width: 425px) {
    .footer {
        padding-top: 64px;
        margin-left: 16px;
    }
}

@media screen and (min-width: 426px) and (max-width: 667px) {
    .footer {
        margin: 0;
    }
}

@media screen and (min-width: 426px) and (max-width: 768px) {
    .footer {
        margin: 0 24px;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .footer {
        margin: 0 24px;
    }
}
