.card__url-box_content_link {
    text-decoration: underline;
    font-size: 18px;
    line-height: 22px;
    color: white;
}

.card__url-box_content_link:hover {
    text-decoration: none;
    transition: .2s;
    border-bottom: 1px solid white;
    padding-bottom: 2px;
}